.mainTitle {
    text-align: center; 
    font-size: 50px;
    margin-top:15px;
    color: white;
  }

  .mainAvatar {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
  }
  