$mainColor: #CA81FF;
$mainColor2: #A268CC;
$mainColorLight: #EACEFF;
$mainColorDark: #65417F;
$mainColorGrey: #75677F;

$mainColorBlue: #7975FF;
$mainColorSand: #FFDA9B;
$mainColorGreen: #53CC85;
$mainColorAlert: #99107A;
$mainColorDarker: #322040;
$mainColorPurple: #916AE8;

$containerBackground: #EAE9FF;
$text: #08060D;
$inputFields: #EAF8FF;
